/* Basic  ---------------------------------------- */

.clear { clear: both; }

body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	text-align: center;
}

#wrapper {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

/* Logo  ---------------------------------------- */

h1 {
	margin: 15px 0 10px 5px;
	height: 28px;
	padding: 20px 0 20px  15px;
}

h1 a {
	display: block;
	width: 225px;
	height: 28px;
}

h1 span { display: none; }

/* Main Navigation ---------------------------------------- */

#mainNav {
	width: 80%px;
	height: 37px;
	padding: 6px;
	margin: 0 0 30px 0;
	background: url(../img/top-menu-bg.gif) no-repeat left top; 
	/* We used a background image making the thick border and the thin one to keep the html structure simple */
}

#mainNav li {
	float: left;
	height: 37px;
	border-right: 1px solid #ddd;
}

#mainNav li a {
	display: block;
	float: left;
	height: 37px;
	font-weight: bold;
	line-height: 37px;
	text-decoration: none;
	color: #646464;
	padding: 0 20px;
}

#mainNav li.logout {
	float: right;
	border-left: 1px solid #ddd;
	border-right: none;
}

#mainNav li a:hover { background: #fdfcf6; }

#mainNav li a.active, #mainNav li a.active {
	background: #f0f0f0 url(../img/top-menu-item-bg.gif) repeat-x left top;
	color: #454545;
}

/* Container ---------------------------------------- */

#containerHolder {
	background: #eee;
	padding: 5px;
}


#container {
	background: #fff; /* url(../img/content.gif) repeat-y left top;*/
	border: 1px solid #ddd;
	width: 80%px;
	padding:20px;
	
	
}

/* Sidebar ---------------------------------------- */

#sidebar {
	width: 179px;
	float: left;
}

#sidebar .sideNav { width: 179px; }

#sidebar .sideNav li { border-bottom: 1px solid #ddd; width: 179px; }

#sidebar .sideNav li a {
	display: block;
	color: #646464;
	background: #f6f6f6;
	text-decoration: none;
	height: 29px;
	line-height: 29px;
	padding: 0 19px;
	width: 141px;
}

#sidebar .sideNav li a:hover { background: #fdfcf6; }

#sidebar .sideNav li a.active, #sidebar .sideNav li a.active:hover {
	background: #f0f7fa;
	color: #c66653;
}

/* Breadcrumb ---------------------------------------- */

h2 {
	width: 97%;
	float: left;
	color: #646464;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 0 0 10px 20px;
	border-bottom: 1px solid #ddd;
}

h2 a {
	color: #646464;
	text-decoration: none;
}

h2 a.active { color: #c66653; }

h2 a:hover { text-decoration: underline; }

/* Content ---------------------------------------- */

#main {
	width: 100%;
	/*padding: 0 19px 0 0;*/
}

h3 {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #5494af;
	padding: 0 0 0 10px;
	margin: 20px 0 10px;
}

#main table {
	border-top: 1px solid #ddd;
	width: 100%;

	
}

#main table tr td {
	background: #f6f6f6;
	padding: 10px 5px 10px 15px;
	height: 9px;
	line-height: 16px;
	border-bottom: 1px solid #ddd;

}

#main table thead th{
   color:#646464;
   padding: 0 0 10px 15px;
   /*text-align:center;*/
   
}

#main table tr.odd td {
	background: #fbfbfb;
}

#main table tr:hover td { background: #fdfcf6; }

#main table .action {
	text-align: right;
	padding: 10px 30px 10px 10px;
}

#main table tr .action a, .modal { margin: 0 0 0 10px; text-decoration: none; color: #9b9b9b; }
#main table tr:hover .action .edit { color: #c5a059; }
#main table tr:hover .action .delete { color: #a02b2b; }
#main table tr:hover .action .view,.modal:hover { color: #55a34a; }

#main table tr:hover .action a:hover { text-decoration: underline; }

fieldset,#contenedor-registro fieldset {
	border: 1px solid #ddd;
	padding: 19px;
	margin: 0 0 20px 0;
	background: #fbfbfb;
}

 fieldset p { margin: 0 0 14px 0; float: left; width: 100%;  }

/*#main fieldset label {
	display: block;
	width: 100%;
	margin: 0 0 7px 0;
	line-height: 12px;
}*/

 fieldset .text-long {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 264px;
	float: left;
	margin: 0 10px 0 0;
}

fieldset .text-medium {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 124px;
	float: left;
	margin: 0 10px 0 0;
}

 fieldset .text-small {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 44px;
	float: left;
	margin: 0 10px 0 0;
}

 fieldset .text-long:focus, 
 fieldset .text-medium:focus,
 fieldset .text-small:focus,
 fieldset textarea:focus { background: #fdfcf6 url(../img/input-shaddow-hover.gif) no-repeat left top; }

 fieldset textarea {
	border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	width: 364px;
	float: left;
	margin: 0 10px 0 0;
	height: 148px;
	overflow: hidden;
}

.button-submit {
	font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	width: 94px;
	height: 29px;
	cursor: pointer;
	border: none;
	background: url(../img/button-submit.gif) no-repeat left top;
}

/* Footer ---------------------------------------- */

#footer {
	margin: 10px 0 30px 0;
	font-size: 11px;
	line-height: 11px;
	color: #9B9B9B;
	padding: 0 0 0 5px;
}

#footer a { color: #9B9B9B; }

#footer a:hover { text-decoration: none; }

/* Formularos de registro -----------------------*/
div.extra{ padding-bottom: 20px;}
label.extra{ padding-left:20px;}
.formulario { margin: .4em 0;}
.formulario label {float:left; width:25%;}
.formulario label.extra {width:45%;}
 select,input { 
    border: 1px solid #ddd;
	background: #fff url(../img/input-shaddow.gif) no-repeat left top;
    font: 11px Arial, Helvetica, sans-serif;
	color: #646464;
	padding: 5px 7px;
	margin: 0 10px 0 0;
}

.formulario select { width:210px;}
.formulario input { width:195px;}
/* Reglas de estilo del inicio de session */
#contenedor{margin:auto; width:360px; padding-top:250px}
#loginPan{width:359px; height:199px; background:url(../images/formbg.gif) 0 0 repeat-y; border:1px solid #E0D9C4; }
#loginPan h2{width:230px; height:81px; display:block; background:url(../images/icon.gif) 0 50% no-repeat #fff; color:#5EA000; font:30px/80px Georgia, "Times New Roman", Times, serif; padding:0 0 0 64px; margin:0 0 0 18px; float:none;}
#loginPan h2 span{background:#fff; color:#017FC0;}

#loginPan form{width:321px; height:76px; background:#FCF6E6; color:#705D20; position:relative; border:1px dashed #BFB492; margin:0 0 0 18px; padding:6px 0 0;}
#loginPan form label{width:91px; height:22px; display:block; float:left; padding: 0 0 0 20px; margin:9px 0 0;}
#loginPan form input{width:130px; height:18px; font-size:12px; display:block; float:left; margin:9px 12px 0 0;}

#loginPan form input.button{width:49px; height:52px; display:block; position:absolute; top:6px; right:16px; background:url(../images/button.gif) 0 0 no-repeat #FCF6E6; border:none; color:#fff; margin:9px 0 0; font:16px/52px Georgia, "Times New Roman", Times, serif; text-align:center; padding:0px;}

#loginPan ul{width:323px; height:25px; margin:6px 0 0 18px;}
#loginPan ul li{width:166px; height:25px; float:left;}
#loginPan ul li.nonregister{width:156px; height:25px; float:left; background:url(../images/not-memberbg.gif) 0 0 no-repeat #FEFEFE; color:#fff; font-weight:bold; line-height:25px; text-align:center;}
#loginPan ul li.register{width:165px; height:25px; float:left; background:url(../images/new-registerbg.gif) 0 0 no-repeat #FEFEFE; color:#fff; font-weight:bold; line-height:25px; margin:0 0 0 1px;}
#loginPan ul li.register a{width:141px; height:25px; display:block; background:url(../images/arrow1.gif) 95% 60% no-repeat; text-decoration:none; padding:0 0 0 25px;}
#loginPan ul li.register a:hover{background:url(../images/arrow2.gif) 95% 60% no-repeat; text-decoration:none;}

/** Clase para los mensajes de error **/

label.error {
 color:#F00;
 float: right;
}

input.error{
 border: 1px solid #f00;
}

img.error{ float:right;}
/*************  Clase para los mensajes de conformacion  **/
.conformacion{
  color:#F00;
  padding:5px;
  margin-bottom:15px;
  font-weight:bold;
}
.conformacion ul{ padding-left:4em;}

/**************** Regla de estilos para las tablas de filtro **/
.filtro{ width:100px; padding:0;}



/* Regla de estilo para el inicio de sesion 
------------------------------------------------------------------------------------------------------*/
#contenedor-registro{
	width:80%; 
	border:1px solid #CCC; 
	padding:0; 
	margin:auto;
	text-align:left;}
#cabeza { height:30px; background:#999}
#bloque-izquierdo { float:left; width:30%; background:#00F; height:887px;}
#bloque-derecho { float:left; width:66%; padding-left:20px; padding-top:1.5em; padding-right:20px;}
#final {height:30px; background:#F00;}

/* Ventanas modales
-----------------------------------------------------------------------------------------------------*/
#mask {
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#formularioFamiliar {
  width:600px; 
  height:360px;
  text-align:left;
 
/*  padding:50px 0 20px 25px;*/
}			  
